* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 75%;
}

body {
    font-family: 'Roboto Slab', serif;
    /*background-image: linear-gradient(to left bottom, #ff9a9e, #fad0c4);*/
    background-image: linear-gradient(to right, #fdfbfb, #ebedee);
    /*background-image: linear-gradient(to right, #f5f7fa, #c3cfe2);*/
    /*background-image: linear-gradient(to left bottom, #93a5cf, #e4efe9);*/
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.profile {
  
}

.profile__title {
    font-size: 3rem;
    text-align: center;
}

.profile__subtitle {
    font-size: 1.2rem;
    text-align: center;
    /*padding-bottom: 5rem;*/
    color: #6441a5;
}

.profile__contact {
    text-align: center;
    font-size: 1rem;
}

.profile__contact a {
    cursor: pointer;
    margin: 0 0.5rem;
}

.profile__skills {
    padding: 2rem 0 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.profile_skills p {
    display: inline-block;
}

.profile__info {
    font-size: 1.5rem;
    text-align: center;
}

.profile__info ul {
    padding: 0;
    margin: 0;
}

.info__social-media {
    text-align: center;
    margin: 0;
    display: inline-block;
}

.info__social_media li {
    display: inline-block;
}

.social {
    display: inline-block;~
}

.social a {
    text-decoration: none;
    color: #6441a5;
    padding: 0 16px;
}

.social a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: #121314;
    position: relative;
}

a:hover:after {
    top: 0%;
}

a:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: rgba(79,192,141,0.5);
}